*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.build-cache
build/
zendesk_scarlett_android.iml
app/app.iml
paperwork.json
*.log
clientextension.iml
/clientextension/out/
mat_tmp/
.bundle/
vendor/
.idea/*
!.idea/codeStyles/*
